.button {
  border: 1px solid #000;
  background: transparent;
  margin: 5px 5px;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0);
}

.actives {
  background-color: #646ee4;
  color: #ffffff;
}
/* price range */
.horizontal-slider {
  width: 100%;
  max-width: 500px;
}

.horizontal-slider .example-track {
  top: 20px;
  height: 10px;
}

.example-track.example-track-0 {
  background: grey;
}

.example-track.example-track-1 {
  background: #646ee4;
}

.example-track.example-track-2 {
  background: grey;
}

.horizontal-slider .example-thumb {
  top: 1px;
  width: 50px;
  height: 48px;
  line-height: 38px;
  border-radius: 50%;
  font-size: 0.9em;
  text-align: center;
  background-color: black;
  color: white;
  cursor: pointer;
  border: 5px solid gray;
  box-sizing: border-box;
}

.rdrDefinedRangesWrapper {
  background-color: #1d232a !important;
  border: none !important;
}
.rdrInputRanges {
  display: none;
}

.rdrStaticRange {
  background-color: #1d232a !important;
  border: none !important;
}
